@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/BEBAS-NEUE-PRO-REGULAR.ttf');
}

@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/BEBAS-NEUE-PRO-BOLD.ttf');
}

@font-face {
  font-family: 'Bebas';
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/BEBAS-NEUE-PRO-ITALIC');
}

@font-face {
  font-family: 'Bebas';
  font-style: italic;
  font-weight: bold;
  src: url('/assets/fonts/BEBAS-NEUE-PRO-BOLD-ITALIC');
}
